<h1>This is for my Intro to Rails Project</h1>
<p>This app uses two data sources:</p>
<ul>
  <li>Faker – <code>Faker::TvShows::HeyArnold</code> for characters, quotes, and episodes.</li>
  <li>Hey Arnold API – <a href="https://github.com/aramirezdecruz3148/hey-arnold-api" target="_blank">GitHub Repo</a></li>
</ul>

<p>It displays Hey Arnold characters, their locations, and episodes they appear in.</p>

<h2>ERD</h2>
<img src="/images/erd.png" alt="ERD diagram">
