<h1>Characters</h1>

<% if @characters.present? %>
  <% @characters.each do |c| %>
    <div class="card mb-3 p-3 d-flex flex-row align-items-center">
      <div style="margin-right: 20px;">
        <%= image_tag c.image_path, width: 100, alt: c.name || "Unknown Character" %>
      </div>
      <div>
        <h3><%= link_to (c.name.presence || "Unknown Character"), character_path(c) %></h3>
        <p><%= c.role.presence || "No role information" %></p>
      </div>
    </div>
  <% end %>
<% else %>
  <p>No characters found.</p>
<% end %>
