.episode-card:hover {
  background-color: #f9f9f9;
}

.episode-preview {
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  font-size: 0.9rem;
}

.episode-preview h5 {
  margin-top: 0;
  margin-bottom: 5px;
}
